<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand d-flex align-items-center">
        <svg class="bi bi-display-fill mr-2" width="1em" heigth="1em" viewBox="0 0 16 16"></svg>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" >List of Products</a>
            </li>
        </ul>
    </div>
</nav>

